<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended" role="banner">
      <!-- .nav -->

      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item">
            <a href=""
              ><span>Subscribe to our newsletter</span></a
            >
          </li>
        </ul>

        <form
          accept-charset="UTF-8"
          action="https://find.digitalgov.gov/search"
          id="search_form"
          method="get"
          class="usa-search usa-search--small"
        >
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input
            id="affiliate"
            name="affiliate"
            type="hidden"
            value="digitalgov"
          />
          <div role="search">
            <label class="usa-sr-only" for="query">Search small</label>
            <input class="usa-input" id="query" type="search" name="query" />
            <button class="usa-button" name="commit" type="submit">
              <img
                src=""
                class="usa-search__submit-icon"
                alt="Search"
              />
            </button>
          </div>
        </form>
      </div>
    </div>
    MENU_1      MENU_2      MENU_3      MENU_4
  </nav>
</header>
