{# See dg_fields_entity_view_alter() for setting attributes on youtube iframes. #}
<div
  class="video"
  style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;"
>
  {{ elements }}
</div>
