{#
  # Displays a list of authors, either inline or in a list

  EXPECTED VARIABLES:
    - inline: boolean
    - authors: render array of author nodes

#}
<div class="authors-list {{ inline ? 'authors-list--inline' : '' }}">
  {% for author in authors %}
    {% set display_mode = inline ? 'teaser_inline' : 'teaser' %}
    {{ drupal_entity('node', author['#node'].id(), display_mode) }}
  {% endfor %}
</div>
