{# ====
Page header component that displays the title, deck and kicker.

You can pass any of these params:
- title - the required page title
- deck - an optional summary text displayed below the title
- kicker - an optional short introduction text displayed above the title
- append_title_text - optional text that is appended to the title text field
#}

<div class="dg-page-header">
  {% if kicker %}
  <p class="kicker">
    {{ kicker }}
  </p>
  {% endif %}
  {% if title %}
  <h1>
    {{ title }}
    {% if append_title_text %}
      {{ append_title_text }}
    {% endif %}
  </h1>
  {% endif %}
  {% if deck %}
  <div class="deck">
    {{ deck | striptags | escape }}
  </div>
  {% endif %}
</div>
