<footer class="dg-promos__footer">
  <a href="/communities" class="dg-promos__more-link dg-more-link">
    {# This view uses aggregation to get the count of distinct highlighted nids #}
    <span>See all {{ view.result.0.nid }} communities</span>
    <svg class="usa-icon dg-icon dg-icon--small margin-bottom-05" aria-hidden="true" focusable="false">
      <use xlink:href="/themes/custom/digital_gov/static/uswds/img/sprite.svg#arrow_forward"></use>
    </svg>
  </a>
</footer>
