<button class="dg-glossary__term" aria-controls="glossary-term-{{ row.index }}" aria-expanded="false">{{ output }}</button>
<svg id="glossary-term-{{ row.index }}-icon" class="dg-glossary__icon usa-icon dg-icon dg-icon--large" aria-hidden="true" focusable="false" role="img">
  <use xlink:href="/{{ active_theme_path() }}/static/uswds/img/sprite.svg#expand_more"></use>
</svg>
