<footer class="dg-promos__footer">
  <a href="/communities" class="dg-promos__more-link dg-more-link">
    <span>{{ view.field.status.original_value }}</span>
    <svg class="usa-icon dg-icon dg-icon--small margin-bottom-05" aria-hidden="true" focusable="false">
      <use xlink:href="/themes/custom/digital_gov/static/uswds/img/sprite.svg#arrow_forward"></use>
    </svg>
  </a>
</footer>

