cloudgov_organization     = "$CF_ORG"
cloudgov_password         = "$CF_PASSWORD"
cloudgov_production_space = "$CF_PROD_SPACE"
cloudgov_username         = "$CF_USER"
github_organization       = "GSA"
github_token              = "$GH_TOKEN"
gsa_auth_key              = "$GSA_AUTH_KEY"
newrelic_key              = "$NEWRELIC_KEY"