{# * takes in text and then citeing the person the quote is rendering - looks to be calling a partial? {{- partial "core/quote-block" (dict "bg" $bg "cite" $cite "text" $text) -}} #}

<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <h4 class="usa-alert__heading">Informative status</h4>
    <p class="usa-alert__text">
      Lorem ipsum dolor sit amet,
      <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
      elit, sed do eiusmod.
    </p>
  </div>
</div>


