<div class="dg-featured-resource">
	<a href="{{ url }}" class="dg-featured-resource__body">
		<div class="dg-featured-resource__text">
			<p class="dg-featured-resource__kicker">
				{% if kicker %}
					{{ kicker }}
				{% else %}
					Featured Resource
				{% endif %}
			</p>
			{% if title %}
				<h2 class="dg-featured-resource__text-title">
					{{ title }}
				</h2>
			{% endif %}
			{% if summary %}
				<p class="dg-featured-resource__text-description">
					{{ summary }}
				</p>
			{% endif %}
		</div>
	</a>
</div>

