{% set summary = drupal_field('field_summary','node', content_reference) | field_value %}

<div class="dg-featured-resource">
<a href="{{ url }}" class="dg-featured-resource__body">
	<div class="dg-featured-resource__text">
		<p class="dg-featured-resource__kicker">
				{{ 'Featured Resource'|t }}
		</p>
			<h2 class="dg-featured-resource__text-title">
      {{ drupal_field('title','node', content_reference) | field_value }}
			</h2>
      {% if summary %}
			<p class="dg-featured-resource__text-description">
{{ summary }}
			</p>
{% endif %}
	</div>
</a>
</div>
