<article class="dg-ring" aria-labelledby="rh-{{ heading|clean_class }}">
  <h2 id="rh-{{ heading|clean_class }}" class="dg-ring__title">
    {{ heading }}
  </h2>
  {{ text.value|check_markup(text.format) }}
</article>
