{% set logo = content.field_logo.0['#media'] | file_uri | image_style('thumbnail') %}

<div class="card__media">
	{% if logo %}
{# todo: new image style for logo #}
<img src="{{ logo }}" alt="{{ title }} logo"/>
{% else %}
	{# {{/* Otherwise, use the Favicon that Google stores for the site. */}} #}
	{# todo: follow up on this getting the favicon from the agency need to use the source title #}
	{# <img src="https://www.google.com/s2/favicons?domain={{ title }}" alt="{{ title }} logo"/> #}
	{% endif %}
</div>


