{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See https://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
<div data-drupal-messages class="status-messages" role="region" aria-label="System messages">
  {% for type, messages in message_list %}
    {% set alert_type = (type == 'status') ? 'info' : type %}

    {# Actual message in a VAR #}
    {% set message_output %}
      {% if status_headings[type] %}
        <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
      {% endif %}
      {% if messages|length > 1 %}
        <ul class="messages__list margin-0">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    {% endset %}

    {# Output the message with wrappers #}
    <div class="status-messages--type-group">
      {% if type == 'error' %}<div role="alert">{% endif %}
      {{ include('@uswds_templates/usa-alert.html.twig', {
        alert_type: alert_type,
        text: message_output,
      }) }}
      {% if type == 'error' %}</div>{% endif %}
    </div>

  {% endfor %}
</div>
