#### Added by Drupal Env project scaffolding ####

/core
/libraries
/*/contrib
/sites/*/files
robots.txt
# Ignore test environment.
/sites/simpletest
/sites/*/settings.local.php

#### End added by Drupal Env project scaffolding ####
